In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis =1)

In [3]:
df = df.fillna(df.median())

C:\Users\Muhammad Azam\AppData\Local\Temp\ipykernel_10704\3493596106.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.median())

In [4]:
df.Embarked.fillna('U', inplace=True)

In [5]:
df['Sex'] = df['Sex'].replace({'female' : 0, 'male' : 1})

In [6]:
df['Embarked'] = df['Embarked'].replace({'C' : 0, 'Q' : 2, 'S' : 3, 'U' : 4})

In [7]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         3
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         3
3         1       1    0  35.0      1      0  53.1000         3
4         0       3    1  35.0      0      0   8.0500         3

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X = df.drop('Survived', axis = 1)
y= df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
logreg = LogisticRegression(max_iter=1000)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8100558659217877

In [11]:
test['Sex'] = test['Sex'].replace({'female': 0, 'male': 1})
test['Embarked'] = test['Embarked'].replace({'C': 0, 'Q': 2, 'S': 3, 'U': 4})
test['Embarked'].fillna(4, inplace=True)
test.fillna(test.median(), inplace=True)

X_submission = test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
predictions = logreg.predict(X_submission)

C:\Users\Muhammad Azam\AppData\Local\Temp\ipykernel_10704\1482185283.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test.fillna(test.median(), inplace=True)

In [12]:
submission = pd.DataFrame({
    'PassengerId': test['PassengerId'],
    'Survived': predictions
})

In [13]:
submission.to_csv('submission.csv', index=False)